.button{
    height: 100px;
    width:100px;
    border: 10px;
    /* border-radius: 50%; */
    border-style: solid;
    border-image: linear-gradient(rgb(0,143,104), rgb(250,224,66),rgb(230,40,60),rgb(150,30,255)) 1;
    display: inline-block;
    /* background: linear-gradient(to right, red, purple);; */
    text-align: center;
}

#grey{
    background-color: grey;
}
#darkgoldenrod{
    background-color: darkgoldenrod;
}
#yellow{
    background-color: yellow;
}
#pink{
    background-color: pink;
}
